{% load static %}

<html lang="en" >

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Skyrim</title>
        <link rel="icon" type="image/x-icon" href="{% static "img/skyrim-icon-41585-Windows.ico" %}" />


        <link href="{% static "css/all.css" %}" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static "css/styles.css" %}" rel="stylesheet" />
        <!-- Custom styles for this page -->
        <link href="{% static "css/dataTables.bootstrap4.css" %}" rel="stylesheet">

        



    </head>

    <body style="background-color:#dee2e6">

        {% block content %}{% endblock content %}


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>

    </body>

<!-- Bootstrap core JavaScript-->
<!-- for dropdown-menu -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

<!-- for tables -->
<!-- Page level plugins -->
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/dataTables.bootstrap4.min.js" %}"></script>
<!-- Page level custom scripts -->
<script src="{% static "js/datatables-demo.js" %}"></script>


</html>