{% extends 'base.html' %} {% block content %}

{% load static %}


<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <h1 class="fs-1 text-white">Skyrim in Stats</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link"  href="{% url 'home' %}">Home</a></li>
                
                <div class="small mb-1"></div>
                <div class="dropdown mb-4">
                    <button class="btn btn-secondary dropdown-toggle" style="background-color:#343a40" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tables </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'battles' %}">Battles</a>
                        <a class="dropdown-item" href="{% url 'beasts' %}">Beasts</a>
                        <a class="dropdown-item" href="{% url 'players' %}">Players</a>
                        <a class="dropdown-item" href="{% url 'spells' %}">Spells</a>
                    </div>
                </div>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>



<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/contact_image_1.jpg" %})">
    <br>
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Contact Us</h1>
        <h1 class="text-white fs-2 mb-0">Have questions? We have answers.</h1>
    </div>
    <br>
    <br>
    <br>
    
</header>

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static "img/contact_image_2.png" %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">You can find us at</h1>

            <a href="https://www.reddit.com/r/BethesdaSoftworks/" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-reddit"></i>
            </a>
            <a href="https://www.tumblr.com/tagged/elderscrolls" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-tumblr"></i>
            </a>
            <a href="https://twitter.com/elderscrolls" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/user/BethesdaSoftworks" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.twitch.tv/bethesda" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-twitch"></i>
            </a>
            <a href="https://www.facebook.com/ElderScrolls/" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/elderscrolls/" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://elderscrolls.bethesda.net/" class="btn btn-primary btn-circle btn-lg">
                <i class="fab fa-firefox"></i>
            </a>
            <br>
            <br>
            <a>
                <h2 class="fas fa-envelope-open"></h2><text class="fs-5">  dfiallo35@gmail.com</text>
            </a>
            <br>
            <br>
            <a>
                <h2 class="fas fa-phone"></h2><text class="fs-5">  (+53)-5848-1152</text>
            </a>
        </div>

    </div>
</div>

{% endblock content %}