{% extends './tables_base.html' %} {% block content_tables %}


{% load static %}

{% comment %} <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> {% endcomment %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/battle_image_1.webp" %})">
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Battle Tables</h1>
    </div>
    <br>
    <br>
</header>


<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Battles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Players / Beasts</th>
                            <th>Start Date and Time</th>
                            <th>Number of Events</th>
                            <th>Total Damage</th>
                            <th>Winner</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Players / Beasts</th>
                            <th>Date and Time</th>
                            <th>Number of events</th>
                            <th>Total Damage</th>
                            <th>Winner</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for battle in battles%}

                            <tr>
                                <td>{{battle.participants}}</td>
                                <td>{{battle.start}}</td>
                                <td>{{battle.n_events}}</td>
                                <td>{{battle.total_d}}</td>
                                <td>{{battle.winner}}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content_tables %}