{% extends './tables_base.html' %} {% block content_tables %}


{% load static %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/beast_image_1.jpg" %})">
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Beast Tables</h1>
    </div>
    <br>
    <br>
</header>


<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Beasts</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Attacks</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Number of Battles</th>
                            <th>Number of Players Faced</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Attacks</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Number of Battles</th>
                            <th>Number of Players Faced</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for beast in beasts %}
                            <tr>
                                <td>{{beast.name}}</td>
                                <td>{{beast.race}}</td>
                                <td>{{beast.attacks}}</td>
                                <td>{{beast.weakness}}</td>
                                <td>{{beast.hp}}</td>
                                <td>{{beast.damage_out}}</td>
                                <td>{{beast.n_battles}}</td>
                                <td>{{beast.n_players}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content_tables %}