{% extends './tables_base.html' %} {% block content_tables %}


{% load static %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/beast_image_1.jpg" %})">
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Beast Tables</h1>
    </div>
    <br>
    <br>
</header>


<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Beasts</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Attacks</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Number of Battles</th>
                            <th>Number of Players Faced</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Attacks</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Number of Battles</th>
                            <th>Number of Players Faced</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Paarthurnax</td>
                            <td>Dragon</td>
                            <td>Close Wounds,
                                Fast Healing,
                                Fireball,
                                Firebolt,
                                Ice Spike</td>
                            <td>Poison</td>
                            <td>495</td>
                            <td>305</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Alduin</td>
                            <td>Dragon</td>
                            <td>Fire Breath,
                                Frost Breath,
                                Unrelenting Force,
                                Dragon Fireball shout</td>
                            <td>Fire</td>
                            <td>2355</td>
                            <td>1250</td>
                            <td>4</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Durnehviir</td>
                            <td>Dragon</td>
                            <td>Poison spit attack</td>
                            <td>fire</td>
                            <td>253</td>
                            <td>530</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content_tables %}