{% extends './tables_base.html' %} {% block content_tables %}


{% load static %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/player_image_1.jpg" %})">
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Player Tables</h1>
    </div>
    <br>
    <br>
</header>


<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Players</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Spells Known and In Use</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Total Damage Received</th>
                            <th>Number of Battles</th>
                            <th>Battles Won</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Spells Known and In Use</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Total Damage Received</th>
                            <th>Number of Battles</th>
                            <th>Battles Won</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ralof</td>
                            <td>Nordic</td>
                            <td>Frost Cloak,
                                Frost Rune,
                                Ice storm</td>
                            <td>Fire</td>
                            <td>450</td>
                            <td>210</td>
                            <td>650</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Aela the Huntress</td>
                            <td>Nordic</td>
                            <td>Frenzy,
                                Fury,
                                tumult,
                                Fear</td>
                            <td>Poison</td>
                            <td>500</td>
                            <td>705</td>
                            <td>100</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Bagrak</td>
                            <td>Imperial</td>
                            <td>Cloak of flames,
                                Fire rune,
                                Fire storm.</td>
                            <td>Fire</td>
                            <td>1040</td>
                            <td>3130</td>
                            <td>580</td>
                            <td>12</td>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content_tables %}