{% extends './tables_base.html' %} {% block content_tables %}


{% load static %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/player_image_1.jpg" %})">
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Players</h1>
    </div>
    <br>
    <br>
</header>


<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        {% comment %} <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Players</h6>
        </div> {% endcomment %}
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Spells Known and In Use</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Total Damage Received</th>
                            <th>Number of Battles</th>
                            <th>Battles Won</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Race</th>
                            <th>Spells Known and In Use</th>
                            <th>Weakness</th>
                            <th>Health Points</th>
                            <th>Total Damage Caused</th>
                            <th>Total Damage Received</th>
                            <th>Number of Battles</th>
                            <th>Battles Won</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for player in players %}
                            <tr>
                                <td>{{player.name}}</td>
                                <td>{{player.race}}</td>
                                <td>{{player.spells}}</td>
                                <td>{{player.weakness}}</td>
                                <td>{{player.hp}}</td>
                                <td>{{player.damage_out}}</td>
                                <td>{{player.damage_in}}</td>
                                <td>{{player.n_battles}}</td>
                                <td>{{player.battles_won}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content_tables %}