{% extends './tables_base.html' %} {% block content_tables %}


{% load static %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/spell_image_1.webp" %})">
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Spell Tables</h1>
    </div>
    <br>
    <br>
</header>

<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Spells</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>AVG Damage</th>
                            <th>Damage Type</th>
                            <th>Known by</th>
                            <th>Currently in Use</th>
                            <th>Used in Battles</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>AVG Damage</th>
                            <th>Damage Type</th>
                            <th>Known by</th>
                            <th>Currently in Use</th>
                            <th>Used in Battles</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Fire storm</td>
                            <td>85</td>
                            <td>Fire</td>
                            <td>Bagrak, Ralof</td>
                            <td>Ralof</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Fire rune</td>
                            <td>70</td>
                            <td>Fire</td>
                            <td>Aela the Huntress</td>
                            <td>Aela the Huntress</td>
                            <td>1</td>
                        </tr> 
                        <tr>
                            <td>Frost Rune</td>
                            <td>70</td>
                            <td>Frost</td>
                            <td>Bagrak, Aela the Huntress, Ralof</td>
                            <td>Aela the Huntress, Ralof</td>
                            <td>13</td>
                        </tr> 
                        <tr>
                            <td>Ice storm</td>
                            <td>75</td>
                            <td>Frost</td>
                            <td>Aela the Huntress, Ralof</td>
                            <td>Aela the Huntress</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Fire storm</td>
                            <td>85</td>
                            <td>Fire</td>
                            <td>Bagrak, Ralof</td>
                            <td>Ralof</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Fire rune</td>
                            <td>70</td>
                            <td>Fire</td>
                            <td>Aela the Huntress</td>
                            <td>Aela the Huntress</td>
                            <td>1</td>
                        </tr> 
                        <tr>
                            <td>Frost Rune</td>
                            <td>70</td>
                            <td>Frost</td>
                            <td>Bagrak, Aela the Huntress, Ralof</td>
                            <td>Aela the Huntress, Ralof</td>
                            <td>13</td>
                        </tr> 
                        <tr>
                            <td>Ice storm</td>
                            <td>75</td>
                            <td>Frost</td>
                            <td>Aela the Huntress, Ralof</td>
                            <td>Aela the Huntress</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Fire storm</td>
                            <td>85</td>
                            <td>Fire</td>
                            <td>Bagrak, Ralof</td>
                            <td>Ralof</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Fire rune</td>
                            <td>70</td>
                            <td>Fire</td>
                            <td>Aela the Huntress</td>
                            <td>Aela the Huntress</td>
                            <td>1</td>
                        </tr> 
                        <tr>
                            <td>Frost Rune</td>
                            <td>70</td>
                            <td>Frost</td>
                            <td>Bagrak, Aela the Huntress, Ralof</td>
                            <td>Aela the Huntress, Ralof</td>
                            <td>13</td>
                        </tr> 
                        <tr>
                            <td>Ice storm</td>
                            <td>75</td>
                            <td>Frost</td>
                            <td>Aela the Huntress, Ralof</td>
                            <td>Aela the Huntress</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content_tables %}