{% extends './tables_base.html' %} {% block content_tables %}


{% load static %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/spell_image_1.webp" %})">
    <br>
    <br>
    <div class="text-center my-5">
        <h1 class="text-white fs-0 fw-bolder">Spells</h1>
    </div>
    <br>
    <br>
</header>

<!-- Begin Page Content -->
<div class="container-fluid">

    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        {% comment %} <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Spells</h6>
        </div> {% endcomment %}
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>AVG Damage</th>
                            <th>Damage Type</th>
                            <th>Known by</th>
                            <th>Currently in Use</th>
                            <th>Used in Battles</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Aveage Damage</th>
                            <th>Damage Type</th>
                            <th>Players Knowing the Spell</th>
                            <th>Players using the Spell</th>
                            <th>Uses in Battles</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for spell in spells %}
                        <tr>
                            <td>{{spell.name}}</td>
                            <td>{{spell.avg_d}}</td>
                            <td>{{spell.type}}</td>
                            <td>{{spell.knows}}</td>
                            <td>{{spell.uses}}</td>
                            <td>{{spell.n_battles}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content_tables %}