{% extends 'base.html' %} {% block content %}


{% load static %}


<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <h1 class="fs-1 text-white">Skyrim in Stats</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link"  href="{% url 'home' %}">Home</a></li>
                
                <div class="small mb-1"></div>
                <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" style="background-color:#343a40" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tables </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'battles' %}">Battles Table</a>
                        <a class="dropdown-item" href="{% url 'beasts' %}">Beasts Table</a>
                        <a class="dropdown-item" href="{% url 'players' %}">Players Table</a>
                        <a class="dropdown-item" href="{% url 'spells' %}">Spells Table</a>
                    </div>
                </div>
                
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static "img/about_image_1.png" %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Our Web Site</h1>
            <p> On this page we want to motivate more young people to join the wonderful world of Skyrim and we invite those who already belong to look for themselves in our statistics.  </p>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">We are a team of third year Computer Science students and this is our first project developing a web page with database management.</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <img src="{% static "img/about_image_2.jpg" %}" class="img-fluid rounded-start">
            <div class="card h-50">
                <div class="card-body">
                    <h2 class="card-title">Dennis Fiallo</h2>
                    <p class="card-text">Third year student of the C-311 group of the Computer Science career at the University of Havana, Cuba.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <img src="{% static "img/about_image_3.jpg" %}" class="img-fluid rounded-start">
            <div class="card h-50">
                <div class="card-body ">
                    <h2 class="card-title">Lauren Guerra</h2>
                    <p class="card-text">Third year student of the C-312 group of the Computer Science career at the University of Havana, Cuba.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <img src="{% static "img/about_image_4.jpg" %}" class="img-fluid rounded-start">
            <div class="card h-50">
                <div class="card-body">
                    <h2 class="card-title">Gabriel Hernández</h2>
                    <p class="card-text">Third year student of the C-311 group of the Computer Science career at the University of Havana, Cuba.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}