{% extends 'base.html' %} {% block content %}

{% load static %}

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <h1 class="fs-1 text-white">Skyrim in Stats</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                
                <div class="small mb-1"></div>
                <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" style="background-color:#343a40" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Tables </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'battles' %}">Battles Table</a>
                        <a class="dropdown-item" href="{% url 'beasts' %}">Beasts Table</a>
                        <a class="dropdown-item" href="{% url 'players' %}">Players Table</a>
                        <a class="dropdown-item" href="{% url 'spells' %}">Spells Table</a>
                    </div>
                </div>
                
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static "img/home_image_1.webp" %})">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{% static "img/home_image_2.png" %}" alt="..." />
        <h1 class="text-white fs-1 fw-bolder">Skyrim in Stats</h1>
        <p class="text-white-50 mb-0">Website to search for statistics of characters and battles of the skyrim game.</p>
    </div>
</header>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="fs-1">Relevance data collected</h1>
                <p class="lead">They are a set of data collected from Skyrim where you can see some elements with the best statistics in the game.</p>
            </div>
        </div>
    </div>
</section>


{% comment %} <br>
<div class="card-group">
    &nbsp
    &nbsp
    <div class="card">
        <img class="card-img-top" style='background-color:#dee2e6' src="{% static "img/about_image_3.jpg" %}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    &nbsp
    &nbsp
    <div class="card">
        <img class="card-img-top" src="{% static "img/about_image_3.jpg" %}" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title that wraps to a new line</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    &nbsp
    &nbsp
</div> {% endcomment %}

<br>

<div class="card-columns">
    <div class="card bg-1">
        <img class="card-img-top" src="{% static "img/home_image_4.jpg" %}" alt="Card image cap">
        <div class="card-body ">
            <h3  class="card-title text-white">Player with most battles won</h3>
            <p class="card-text text-white-50">The most powerful player in all of Tamriel.</p>
            <h5 class="card-text text-white">Name: .name</h5>
            <h5 class="card-text text-white">Number of battles won: .number </h5>
            <p class="card-text text-white"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card bg-1 p-3">
        <blockquote class="blockquote mb-0 card-body">
            <p class="text-white">"I Used To Be An Adventurer Like You, Then I Took An Arrow In The Knee"</p>
        </blockquote>
    </div>

    <div class="card bg-2">
        <img class="card-img-top" src="{% static "img/home_image_8.jpg" %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-white">Beast with the highest number of battles won</h5>
            <p class="card-text text-white-50">The most feared beast in battles.</p>
            <p class="card-text text-white"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card bg-1 text-white">
        <div class="card-body ">
            <h6 class="text-white">Beast Name: .name</h6>
            <h6 class="text-white">Race: .race</h6>
            <p class="card-text text-white"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card bg-2 text-center">
        <div class="card-body">
            <p class="card-text text-white">"Never Should've Come Here!".</p>
        </div>
    </div>

    <div class="card bg-1">
      <img class="card-img" src="{% static "img/home_image_6.jpg" %}" alt="Card image">
    </div>

    <div class="card bg-2 text-center">
        <div class="card-body">
            <h6 class="card-text text-white">"I'll gladly share my knowledge with you."</h6>
            <h6 class="card-text text-white">"I can teach you, but I won't be held responsible for what you do with the knowledge." </h6>
            <h6 class="card-text text-white">"You deal with powerful forces. Take care they do not overwhelm you."</h6>
        </div>
    </div>

    <div class="card bg-2">
        <div class="card-body">
            <h4 class="card-title text-white">Spell most known by players</h4>
            <h6 class="card-text text-white">Name: .name</h6>
            <h6 class="card-text text-white">AVG Damage: .damage</h6>
            <h6 class="card-text text-white">Known by: .number</h6>
            <p class="card-text text-white"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>




<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url({% static "img/home_image_3.jpg" %})">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>About the game</h2>
                <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}